*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-size: 14px;
  margin: 47px 0 246px 42px;
  
}

.link-header{
  color: #17233D;
  font-size: 14px;
  font-weight: 400;
  padding: 32px;
  text-decoration: none;
}

.btn-header{
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  width: 124px;
  height: 51px;
  border-radius: 6px;
  border: 1px solid #4CB538;
  background: #6FBF44;
}

img-logo{
  width: 595px;
  height: 500px;
  display: inline-block;
}

main{
  margin: 246px 89px 278px 121px;
}

section{
  display: inline-block;
  margin-left: 86px;
}

h1{
  color: #161A49;
  font-size: 62px;
  font-weight: 700;
  line-height: 82px; 
  letter-spacing: 0.596px;
  width: 582px;
  height: 164px;
  
}

p{
  color: #4B505A;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.5px;
  width: 493px;
  margin-top: 47px;
  margin-bottom: 55px;
}

.link-section{
  color: #6FBF44;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}